

.divCard { 
    border-radius: 3em;
    width: 320px;
    height: 460px;
    background-color: #dff251d3;
    margin: 10px;
    overflow: hidden;
    display: inline-block;
    border: solid rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-family: cursive;
    box-shadow: 2px 2px 20px 2px #ffe601;
  } 
  
  
  
   .divCard:hover{
    background-color: rgba(255, 255, 255, 0.7);
    transition: color 0.5s;
   
  } 
  
  
   .divCard p{
    color:#2e2d2d;
    font-weight: 600;
    font-size: 2em;
  } 
  
  .botonDelete{
    background-color: red;
      border-radius: 5px;
      color: #fff;
      margin-left: 16vw;
      top: 1vw;
    }
    .botonDelete:hover {
      box-shadow: 0.5px 0.5px 0.5px 0.5px black;
      transition: 200ms;
  }
  
    .btnFavorite{
       background-color: #f9b5e2;
       width:35px;
       height: 30px;
       border-radius:.4em;
       margin-bottom:.3em;
       margin-top: 1em;
       margin-right: .5em;
    }
  
    .btnFavorite:visited{
       background-color: #040404;
    }
  
  .characterImg {
    border: white 1px;
    width: 100%;
    margin-bottom:.6em;
    
  }
  
  
  .characterName {
    color: #142a05 ;
    font-family: cursive;
    font-size: 1.7em;
    margin:0em;}
  
    .characterName:hover{
    transform: scale(1.1);
   
   transition: transform  1s;
   transition:  color 2s;
   text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 42px #0fa, 0 0 82px #0fa,0 0 92px #0fa;
   cursor: cell;
    }
  
    .container {
      display: flex;
     justify-content:space-evenly;
     flex-direction:row ;
     flex-wrap: wrap;
     margin-top: 12px;
     /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: auto;
    grid-auto-rows: minmax(20vw, auto);
    justify-items: center; */
    
      
  }
  
  .secondText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    right: 5vw;
    justify-content: flex-end;
    font-size: 1.2vw;
    font-weight: bold;
  }
  
  .thirdText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2vw;
    position: relative;
    bottom: 2.5vw;
    left: 5vw; 
  }
    
    /* background-color: rgba(241, 0, 0, 0.178); */
      /* color: maroon;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 1rem; */